PORT=4000

# Redis
# Use either local or Docker Redis
# For local Redis:
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

# For Docker Redis, comment the above and use:
# REDIS_URL=redis://redis:6379
# REDIS_PASSWORD=


# Qdrant
QDRANT_URL=http://127.0.0.1:6333
QDRANT_API_KEY=


# Jina Embeddings
JINA_API_URL=https://api.jina.ai/v1/embeddings
JINA_API_KEY=jina_4450ddf163e9440fb398f681ef963996GeFQKnD36uLeWfECcN8QS-MxKpDA

# Gemini / Google AI Studio
GEMINI_API_URL=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent
GEMINI_API_KEY=AIzaSyCBDT1C1KSchXWT_oBVUMa_oLyjYm1Zmdw

# Vector settings
VECTOR_DIM=768
TOP_K=5
SESSION_TTL_SECONDS=86400
